.wrapper {
  /* border: 1px solid; */
  display: flex;
  /* flex-direction: column; */
  margin-bottom: 50px;
  gap: 50px;
}

.indiv {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
  align-items: center;
}

.listochek {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.filters {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  /* height: 100vh; */
  width: 300px;
}

.f {
  cursor: pointer;
}

.f.active {
  background: #000;
  padding: 10px;
  color: white;
}

.list {
  width: 100%;
}

input {
  width: 60%;
  margin-right: auto;
  padding: 20px;
}

.banner {
  background: #f5f5f5;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  position: relative;
  padding: 20px;
  margin-bottom: 50px;
  z-index: 1;
}

.banner-title {
  position: absolute;
  left: 40%;
  top: 10%;
}

.banner img {
  height: inherit;
  width: 40%;
  object-fit: contain;
}

.options.active {
  position: absolute;
  z-index: 1000;
}

.prev,
.next.active {
  display: flex;
}

.banner img:hover .options,
.banner img:hover .div-prev,
.banner img:hover .div-next,
.banner img:hover .prev:hover,
.banner img:hover .next:hover {
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
}
