.container {
  max-width: 1400px;
  margin: 0 auto;
  /* border: 1px solid; */
  /* padding: 0 20px; */
}

li {
  list-style: none;
  align-items: center;
  display: flex;
  margin-right: auto;
}

.pre-header {
  background: #000;
  justify-content: center;
  height: 40px;
  color: white;
  align-items: center;
  display: flex;
  /* padding: 10px; */
}

.hearti {
  width: 30px;
  height: 30px;
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
}

.heart {
  width: 40px;
  height: 40px;
  list-style: none;
  /* margin-right: 20px; */
  cursor: pointer;
  display: flex;
  padding: 5px;
  /* margin: 5px; */
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.263);
}

.header {
  display: flex;
  justify-content: end;
  padding: 20px 20px;
  align-items: center;
  /* border-bottom: 1px solid #e9ecef; */
  /* margin: 0 auto; */
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 3;
  background: #ffffff;
  /* z-index: 1000; */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  /* background: rgb(0, 0, 0); */
  /* max-width: 1400px; */
}

/* Добавьте отступ для body чтобы контент не скрывался под хедером */

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-right: auto;
  /* font-family: 'Playwrite NO', cursive; */
}
