.container {
  max-width: 1400px;
  margin: 0 auto;
  /* border: 1px solid; */
  /* padding: 0 20px; */
}

li {
  list-style: none;
  align-items: center;
  display: flex;
}

.heart {
  width: 30px;
  height: 30px;
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
  /* border-bottom: 1px solid #e9ecef; */
  /* margin: 0 auto; */
  height: 30px;
  /* z-index: 1000; */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  background: rgb(0, 0, 0);
  /* max-width: 1400px; */
}

/* Добавьте отступ для body чтобы контент не скрывался под хедером */

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-right: auto;
  /* font-family: 'Playwrite NO', cursive; */
}
