.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

li {
  list-style: none;
  align-items: center;
  display: flex;
}

.heart {
  width: 30px;
  height: 30px;
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
}

.header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 20px 20px;
  /* border-bottom: 1px solid #e9ecef; */
  /* margin: 0 auto; */
  position: fixed;
  height: 5px;
  top: 0;
  /* max-width: 1400px; */
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  background: white;
  /* max-width: 1400px; */
}

/* Добавьте отступ для body чтобы контент не скрывался под хедером */
body {
  padding-top: 80px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-right: auto;
}
