* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid; */
}

body {
  background: #f5f5f5;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.loading::after {
  content: '';
  width: 80px;
  height: 80px;
  border: 10px solid rgb(255, 255, 255);
  border-top: 9px solid #000000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
